body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 247, 243);
}

.container {
    height: 400px;
    width: 500px;
    background-color: rgba(213, 238, 213, 0.899);
    border : 2px solid black;
    margin-left : 500px;
    margin-top:100px;
    border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius : 10px;
    
   
}
.container H1{
    color : green;
    font-size : 65px;
    position : absolute;
    left : 530px;
    top : 80px;
} 
.timer 
{
   height : 100px;
   width : 300px;
   border : 2px solid black;
   position : relative;
   left : 90px;
   top :140px;
   padding-top :10px;
   padding-right:10px;
   padding-left:10px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius : 10px;
   background-color : lightyellow;
   
}
.timer h3{
    font-size: 50px;
    margin: 0;
    text-align: center;
    position : relative;
    top : 15px;
    color : blue;
   

}
.buttons
{
    position :absolute;
    left : 600px;
    top : 390px;
}
#startstop
{
   height : 50px;
   width : 150px;
   border : 2px solid black;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius : 10px;
   color : white;
   background-color: green;
   font-size : 20px;
}

#Reset
{
    height : 50px;
   width : 150px;
   border : 2px solid black;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius : 10px;
   color : white;
   background-color: green;
   font-size : 20px;
}


